.container {
    width: 70%;
    margin: 0 auto;
}

.container h4 {
    font-weight: 600;
    margin-bottom: 24px;
}

.creditList {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* 스크롤바의 폭 너비 */
.creditList::-webkit-scrollbar {
    width: 20px;
    height: 12px;
}

.creditList::-webkit-scrollbar-thumb {
    background: rgb(166, 166, 166);
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 스크롤바 둥근 테두리 */
}

.creditList::-webkit-scrollbar-track {
    background: rgba(230, 230, 230, 0.1);
    /*스크롤바 뒷 배경 색상*/
}